header {
  width: 100%;
  height: 13vh;
}

.header-nav {
  width: 100%;
  height: 13vh;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.9);
  background-image: url(../img/bcg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.bcgi-off {
  background-image: none;
}
.bcgi-off2 {
  display: flex !important;
  align-items: center;
  overflow: hidden;
}

.header-title {
  font-size: 4vh;
  font-family: "Goldman", cursive;
  line-height: 6vh;
  position: fixed;
  top: 0%;
  padding-left: 1%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
}

.header-title a {
  color: black;
}
.header-image {
  height: 100%;
  display: none;
}
.header-image img {
  height: 70%;
}
.hum span {
  display: block;
  height: 0.6vh;
  width: 4.5vh;
  margin: 0.8vh 10px;
  border-radius: 2px;
  background-color: rgb(0, 0, 0);
  transition: 300ms;
}
.hum {
  display: none;
  position: absolute;
  right: 0;
}
.hum-menu {
  height: 20%;
  cursor: pointer;
}
.black {
  width: 100%;
  height: 200vh;
  display: none;
}
.black-bg {
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  position: fixed;
  display: block;
}

@keyframes span-height {
  to {
    height: 0;
  }
}
.nav-items {
  width: 100%;
  position: fixed;
  top: 6vh;
  display: block;
  z-index: 102;
}
.nav-list {
  display: flex;
  justify-content: space-between;

  margin-right: 3%;
  margin-left: 3%;
}
.nav-items li {
  width: 17%;
  height: 6vh;
  text-align: center;
  line-height: 6vh;
  position: relative;
}
.border-line-right::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 100%;
  background-color: rgb(235, 235, 235);
  position: absolute;
  right: 0;
}
.left::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 100%;
  background-color: rgb(235, 235, 235);
  position: absolute;
  left: 0;
}
.nav-items li > a {
  color: black;

  font-family: "Goldman", cursive;
  font-weight: 300;
  width: 100%;
  height: 100%;
}
.dropdown {
  display: none;
}

.dropdown li {
  display: block;
  width: 100%;
  background-color: rgb(241, 241, 241);
  height: 10vh;
  line-height: 10vh;
}

.drop-item {
  position: relative;
  display: inline;
}

.drop-item::after {
  position: absolute;
  bottom: -20%;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #333;
  height: 1px;
  content: "";
  margin: auto;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.3s;
}
.dropdown li:hover {
  background-color: #fff;
  color: #333;
  transform-origin: left top;
  transform: scale(1, 1);
}
.class-span {
  margin-right: 1%;
}
.right {
  display: none !important;
}
.under-btn {
  padding: 2% 4%;
}
.fa-angle-right {
  display: none;
}
.border-line::after {
  position: absolute;
  bottom: -4px;
  left: 0;
  content: "";
  width: 100%;
  height: 2px;
  background: #333;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.3s;
}
a:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}

@media (max-width: 1227px) {
  .hum {
    display: block;
  }

  .nav-items {
    top: 0;
    right: 0;
    display: none;
    width: 400px;
    height: 100vh;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    z-index: 120;
    background-color: #525252;
    color: rgb(255, 255, 255);
  }
  .nav-items ul {
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 100%;
    transition: 300ms;
  }
  .nav-items li {
    width: 100%;
    line-height: 45px;
    height: 45px;
    list-style-position: inside;
    text-align: left;
  }
  .nav-items li::after {
    content: none;
  }
  .left::before {
    content: none;
  }
  .nav-items li::before {
    content: "";
    display: inline-block;
    width: 90%;
    height: 2px;
    background-color: rgb(206, 205, 205);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0.3;
  }

  .nav-items li > a {
    width: 100%;
    height: 100%;
    position: static;
    margin-left: 4%;
    color: rgb(255, 255, 255);
  }

  .batsu {
    position: absolute;
    top: 42%;
    right: 400px;
    z-index: 150;
  }
  .batsu span:nth-child(1) {
    transform: rotateZ(45deg);
    transition: 300ms;
    position: absolute;
    top: 7%;
    background-color: #fff;
    height: 5px;
  }
  .batsu span:nth-child(2) {
    animation: span-height 0.3s ease 0.1s forwards;
  }

  .batsu span:nth-child(3) {
    transform: rotateZ(-45deg);
    transition: 300ms;
    position: absolute;
    top: 7%;
    background-color: #fff;
    height: 5px;
  }
  .header-title {
    margin-top: 25px;
    display: none !important;
  }

  .dropdown a::after {
    transition: unset;
  }
  .hum-title {
    display: block;
    font-family: "Goldman", cursive;
    font-size: 30px;
    line-height: 50px;
    font-weight: 400;
    margin-left: 4%;
  }
  .dropdown {
    display: block;
    z-index: auto;
  }
  .dropdown li {
    list-style-position: inside;
    background-color: transparent;
  }
  .dropdown li:hover {
    background-color: transparent;
  }
  .drop-item {
    margin-left: 25% !important;
  }
  .ryoukin {
    margin-top: 136px;
  }
  .under-btn {
    padding: 0;
  }
  .class-info {
    margin-left: 1%;
  }

  .header-nav {
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* .header-image {
    display: flex;
    align-items: center;
    overflow: hidden;
  } */
  a:hover::after {
    pointer-events: none;
  }
}
@media (max-width: 847px) {
  .header-title {
    font-size: 3vh;
    line-height: 5vh;
    margin-top: 19px;
  }
  .header-nav {
    height: 10vh;
  }
  header {
    height: 10vh;
  }

  .hum span {
    width: 4.5vh;
  }
}
@media (max-width: 765px) {
  .nav-items {
    width: 270px;
  }
  .hum-title {
    font-size: 25px;
    line-height: 60px;
  }
  .batsu {
    right: 270px;
  }
}
@media (max-width: 480px) {
  .header-image {
    height: 70%;
  }
}
